/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 18px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  padding-top: 75px;
  letter-spacing: 1px; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 37.5px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px;
  padding-top: 5px;
  color: #828282; }

.Figure-small {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }

.Figure-caption-h {
  text-align: center; }

/**
 * Lists
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-align: center; }

/**
 * Links
 */
a {
  color: blue;
  text-decoration: none; }
  a:visited {
    color: blue; }
  a:hover {
    color: black; }

p, h5, h4, h3, h2 {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px; }

dl {
  padding-bottom: 25px; }

dt {
  margin-top: 25px;
  margin-bottom: 12.5px; }
  dt:first-child {
    margin-top: 0; }

dd {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  padding-bottom: 15px; }
  dd:last-child {
    padding-bottom: 0; }

/**
 * Blockquotes
 */
blockquote {
  color: blue;
  border-left: 3px solid blue;
  padding-left: 25px;
  font-size: 18px;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * External Links
 */
a[target="_blank"] {
  color: #828282;
  border-bottom: 1px solid #828282; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

abbr[title], acronym[title] {
  border-bottom: 1px dotted #e8e8e8; }

/**
 * Forms
 */
textarea,
input {
  border: 2px solid #e06c75;
  font-size: 18px;
  padding: 15px; }

textarea {
  min-height: 100px;
  margin-top: 25px; }

input[type="submit"] {
  margin-top: 25px;
  padding: 12.5px; }
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: blue;
    color: white; }

/**
 * Clearfix
 */
/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle; }

/**
 * Site header
 */
.site-header {
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: fixed;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  min-height: 75px; }
  .site-header svg path {
    fill: none;
    stroke: blue;
    stroke-width: 2;
    stroke-dashoffset: 50;
    stroke-dasharray: 50; }

.site-title {
  font-size: 42px;
  line-height: 1.25;
  padding-top: 50px;
  margin-bottom: 50px; }
  .site-title, .site-title:visited {
    color: blue; }

.site-nav {
  margin-right: 25px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .trigger a {
    margin: 0 10px; }
  .site-nav .page-link {
    color: black;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 12.5px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px;
        cursor: pointer; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px; }
  .site-footer ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

/**
 * Page section
 */
section {
  padding-bottom: 50px;
  background: linear-gradient(to bottom, #f3f3f3, white 15%); }

.section__title {
  text-align: center; }

/**
 * Page content
 */
.page-content {
  padding: 25px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .post-list__item {
    padding: 25px;
    -ms-flex: 0 300px;
        flex: 0 300px;
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    margin: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .post-list__title {
    color: blue;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0; }
  .post-list__image {
    margin-bottom: 0;
    margin-top: 25px; }
    .post-list__image figcaption {
      max-width: 95%; }
  .post-list__description {
    margin: 0;
    padding: 0; }

.post-meta {
  font-size: 15.75px;
  color: #828282; }

.post-link {
  border-bottom-width: 2px;
  border-bottom-style: solid; }
  .post-link:hover {
    border-bottom-color: blue;
    border-bottom-style: dashed; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 25px; }

.post-title {
  margin-bottom: 25px;
  text-align: left;
  line-height: 1; }

.post-content {
  margin-bottom: 25px; }

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid blue; }

@-webkit-keyframes efecto-stroke-dashoffset {
  100% {
    stroke-dashoffset: 0; } }

@keyframes efecto-stroke-dashoffset {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes anim {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -120em 0; } }

@keyframes anim {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -120em 0; } }

@-webkit-keyframes tot {
  from {
    background-color: blue;
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
            transform: rotate(0deg) translateX(100px) rotate(0deg);
    -webkit-transform-origin: 0px;
            transform-origin: 0px; }
  to {
    background-color: red;
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
            transform: rotate(360deg) translateX(100px) rotate(-360deg); } }

@keyframes tot {
  from {
    background-color: blue;
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
            transform: rotate(0deg) translateX(100px) rotate(0deg);
    -webkit-transform-origin: 0px;
            transform-origin: 0px; }
  to {
    background-color: red;
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
            transform: rotate(360deg) translateX(100px) rotate(-360deg); } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.brand {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 50%;
      flex: 1 50%;
  padding-left: 25px; }
  .brand svg {
    padding-right: 12.5px; }
    .brand svg path {
      stroke: black;
      stroke-width: 3; }
  .brand__logo {
    background-color: red; }
  .brand__title {
    font-weight: bold;
    font-size: 18px; }
  .brand .efecto--stroke-logo {
    -webkit-animation-name: efecto-stroke-dashoffset;
            animation-name: efecto-stroke-dashoffset;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

.Cover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 400px;
  color: white;
  background-color: #e06c75;
  -ms-flex-align: center;
      align-items: center;
  background-image: url("/images/icon-tot.svg");
  background-position: center; }
  .Cover__title {
    line-height: 1.1;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px; }

.list {
  max-width: 600px;
  margin-left: 50px;
  margin-right: 50px; }
  @media screen and (min-width: 740px) {
    .list {
      margin-left: auto;
      margin-right: auto; } }

.Card {
  margin: 0;
  max-width: 100%; }
  .Card__item {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: baseline;
        align-items: baseline;
    padding: 25px; }
  .Card-title {
    -ms-flex: 1 100%;
        flex: 1 100%;
    margin-bottom: 12.5px; }
  .Card-subtitle {
    color: #828282;
    font-size: 18px;
    margin-bottom: 50px; }
  .Card-description {
    -ms-flex: 1 50%;
        flex: 1 50%; }
  .Card-note {
    -ms-flex: 1 300px;
        flex: 1 300px; }
  .Card dl {
    padding-bottom: 25px;
    border: 2px solid blue;
    border-radius: 2px; }
  .Card dt {
    padding: 25px;
    text-align: center;
    color: blue;
    margin-bottom: 12.5px;
    border-bottom: 2px solid blue; }
    .Card dt:first-child {
      margin-top: 0; }
  .Card dd {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    padding-right: 25px;
    padding-left: 25px; }

.Dsph__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 25px; }

.Dsph__item {
  -ms-flex: 0 300px;
      flex: 0 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  text-align: center; }
  .Dsph__item span {
    display: inline-block; }

.Dsph__decir {
  background: url("/images/anim_decir.svg") 0 0 no-repeat;
  width: 20em;
  height: 20em;
  -webkit-animation: anim 1s steps(6) infinite;
          animation: anim 1s steps(6) infinite;
  background-size: 120em 100%;
  font-size: 10px; }

.Dsph__sentir {
  background: url("/images/anim_sentir.svg") 0 0 no-repeat;
  width: 20em;
  height: 20em;
  -webkit-animation: anim 1s steps(6) infinite;
          animation: anim 1s steps(6) infinite;
  background-size: 120em 100%;
  font-size: 10px; }

.Dsph__pensar {
  background: url("/images/anim_pensar.svg") 0 0 no-repeat;
  width: 20em;
  height: 20em;
  -webkit-animation: anim 1s steps(6) infinite;
          animation: anim 1s steps(6) infinite;
  background-size: 120em 100%;
  font-size: 10px; }

.Dsph__hacer {
  background: url("/images/anim_hacer.svg") 0 0 no-repeat;
  width: 20em;
  height: 20em;
  -webkit-animation: anim 1s steps(6) infinite;
          animation: anim 1s steps(6) infinite;
  background-size: 120em 100%;
  font-size: 10px; }

.Tot {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 50%;
  border: 1px solid black; }

.Tot__pointer {
  text-align: center;
  width: 25px;
  height: 25px;
  -webkit-animation-name: tot;
          animation-name: tot;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(4);
          animation-timing-function: steps(4);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  background-color: black;
  border-radius: 50%; }

.Tcia-logo {
  text-align: center;
  margin-bottom: 25px; }
  .Tcia-logo svg path {
    fill: none;
    stroke: blue;
    stroke-width: 3;
    stroke-dashoffset: 1100;
    stroke-dasharray: 1100; }

.efecto--stroke-dashoffset {
  -webkit-animation-name: efecto-stroke-dashoffset;
          animation-name: efecto-stroke-dashoffset;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.Contact {
  padding: 50px 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }
  .Contact__title {
    color: blue; }
  .Contact__form {
    max-width: 700px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex: 0 100%;
        flex: 0 100%; }
  .Contact__textarea {
    -ms-flex: 0 600px;
        flex: 0 600px; }
  .Contact__submit {
    border: 2px solid blue;
    background-color: transparent; }

.social ul {
  margin-right: 0; }

.social li {
  margin-left: 12.5px;
  margin-right: 12.5px; }
