---
layout: page-home
published: true
lang: es
---

<!-- {% include cover.html %} -->

<article class="block">

  <h1 class="block__title">
    Sergio Forés
  </h1>
  <h2 class="block__subtitle">
    Soy un diseñador y front-end que prototipa y construye sitios web para emprendedores y equipos multidisciplinares. Mis acciones exploran el feedback, lo creativo y la técnica en un proceso integrador para aprender, mejorar continuamente y reducir riesgos.
  </h2>
  <a class="btn-cta" href="/sobremi">
    Sobre mí
  </a>

</article>

<article class="block block--quehago">

  <h1 class="block__title">
    TU PRODUCTO ES EL PROCESO
  </h1>
  <h2 class="block__subtitle">
    Diseño interfaces, construyo prototipos, rompo cosas, escribo código, experimento, aprendo, invento, colaboro y comparto para crear proyectos que encajen, sean únicos y tengan sentido. Así es como fluyo en lo que es.
  </h2>
  <a class="btn-cta" href="/blog">
    Lo que hago
  </a>

</article>

<article class="block block--vision">
  <div class="block__split block--vision__image"></div>
  <div class="block__split">
    <h1 class="block__title">
      TODH, MI VISIÓN
    </h1>
    <h2 class="block__subtitle">
      Transmitir, Observar, Descifrar y Hacer. Dar cuenta de ello y profundizar en todo lo que significa es para lo que estoy aquí, lo que da sentido a mi vida...
    </h2>
    <a class="btn-cta" href="/vision">
      Lo que siento
    </a>
  </div>

</article>



{% include contact.html %}
