---
layout: page-home
title: manifiesto
navigation_weight: 1
published: true
ref: index
lang: es
---

<!-- {% include cover.html %} -->

<article>


  <h2 class="site-title">Mi manifiesto</h2>
  <ul class="list">
    <li>El común denominador de todas las cosas se encuentra en lo obvio. Si eres capaz de validar esta afirmación has encontrado el tesoro.</li>
    <li>Todo és, ahora, aquí, ya.</li>
    <li>Todo está en sus partes. Patrón fractal.</li>
    <li>Todo es incierto. Abraza el error.</li>
    <li>Todo es relación. Sinapsis.</li>
    <li>Todo inteligente, está vivo y tiende al equilibrio. Autoorganización.</li>
    <li>Todo es cíclico. Actualizate.</li>
    <li>El talento crece a medida que se comparte</li>
    <li>No importa tanto cuánto sabes, sino cómo lo usas.</li>
    <li>El producto es el proceso</li>
    <li>Solo hay que rendir cuentas a la brillantez del resultado.</li>
    <li>Haz esto, descubre que te equivocaste, y entonces ve y hazlo bien, y luego más que bien.</li>
    <li>Quema el manual, haz lo que te lleve a donde quieres ir.</li>
    <li>Crea el producto/servicio que tú mismo usarías.</li>
    <li>Focalizate en el todo que es la experiencia de lo que ya es, ahora.</li>
    <li>Todos tenemos una historia, todos tenemos una motivación, una razón por la que hacemos lo que hacemos.</li>
    <li>No me creas, ponme a prueba.</li>
    <li>Transparencia, sinceridad y confianza.</li>
    <li>Abraza también el error y la incertidumbre</li>
    <li>Di, Siente, Piensa y Haz en coherencia</li>
    <li>Del dicho al hecho había un trecho pero ahora es todo ya.</li>
    <li>Invierte tiempo y dinero proporcionalmente a tus beneficios reales.</li>
    <li>Deja que te arañen un poco ahora las dificultades cuando aún son pequeñas para que no te coman mañana.</li>
    <li>Cuida el contenido tanto como el contenedor.</li>
    <li>Lo que quieres ya lo tienes. Ahora vamos a mejorarlo progresivamente.</li>
    <li>Un prototipo te permite demostrar la validez de tu idea y poder ver y medir el alcance, el atractivo real de lo que quieres decir.</li>
    <li>No supongas teorías, constata hechos.</li>
    <li>Lo mejor a lo que podemos aspirar es ser lo que ya somos (pero de mejor manera)</li>
  </ul>


</article>

<figure class="Figure-small">
  <img src="/images/estudio2.jpg" alt="SF Studio">
  <figcaption class="Figure-caption-h">Todo es <abbr title="Transmisión Creativa Inteligente en Acción">TCIA</abbr></figcaption>
</figure>

{% include contact.html %}
