---
layout: page
title: Quién soy
navigation_weight: 1
published: true
ref: index
lang: es
---

<!-- {% include cover.html %} -->

<ul class="carousel carousel--perfil"
    data-flickity='{
      "initialIndex": 0,
      "cellAlign": "left",
      "pageDots": false
    }'>

      <li class="carousel-cell">Adaptabilidad a nuevos ambientes y cambios.</li>

      <li class="carousel-cell">Habilidad para conectar conocimientos sobre varios campos diferentes que me motivan.</li>

      <li class="carousel-cell">Genero contenidos y pensamientos propios aunando conciencia, arte, diseño y desarrollo web en un proceso unificado vivo y profundo que he llamado <a href="/tcia">TODH</a> (Transmitir, Observar, Definir, Hacer).</li>

      <li class="carousel-cell">Tengo una visión de contribución, cumplo mis objetivos ayudando a otros a cumplir los suyos.</li>

      <li class="carousel-cell">Invierto constantemente tiempo y energía en mi desarrollo y fortalecimiento personal para brindar a los demás mi mejor versión.</li>

      <li class="carousel-cell">Soy consciente de que en cada instante puedo elegir.</li>

      <li class="carousel-cell">Entiendo al éxito no como un destino, sino como un proceso de vida que tiende a completarse en todas las cosas desde que nacen. Se trata de descartar todo lo que sobra. </li>

      <li class="carousel-cell">Soy creativo, altamente inventivo, intuitivo, capaz de producir ideas disruptivas e innovadoras. Con sensibilidad y talento artístico.</li>

      <li class="carousel-cell">Colaboro y aporto complementariedad en equipo.</li>

      <li class="carousel-cell">Consciente de mis limitaciones pido ayuda cuando realmente la necesito. Suelo disponer de recursos para salir adelante en cualquier situación y si no los tengo se buscarlos.</li>

      <li class="carousel-cell">Reconozco que mi poder no está en el ejercicio del control sino en la libertad de responder constructivamente ante cualquier circunstancia.</li>

      <li class="carousel-cell">Alineado con las nuevas tecnologías. Comprendo cómo y porqué funcionan muchas de ellas. Con una curva de aprendizaje alta, aprendo y asimilo rápido. Capaz de utilizar herramientas para resolver diferentes problemas.</li>

      <li class="carousel-cell"> Autodidacta y altamente comprometido con el aprendizaje contínuo. Capaz de aprender y desaprender con facilidad en función de mis inquietudes.</li>

      <li class="carousel-cell">Acepto el fracaso como un “mal” necesario para mi propio crecimiento. Comprendo que la única forma de aprender es haciendo y experimentando con atención plena. Me equivoco y me asaltan miedos, pero logro transmutarlos.</li>

      <li class="carousel-cell">Mi concepción del entorno no conoce fronteras. No entiendo de límites geográficos, políticos, sociales, económicos, culturales...</li>

      <li class="carousel-cell">Siempre conectado. Mi mundo está formado por muchos mundos sin importar su contexto.</li>

      <li class="carousel-cell"> Poseo una motivación intrínseca; estoy motivado a actuar desde mis más internos deseos, en lugar de buscar el reconocimiento o las recompensas externas.</li>
    </ul>



</div>

<!-- <figure class="Figure-small">
  <img src="/images/estudio2.jpg" alt="SF Studio">
  <figcaption class="Figure-caption-h">Trabajando en remoto</figcaption>
</figure> -->

<h1>¿Quieres dar a luz tu proyecto web?. Enhorabuena "ello" ya es...</h1>

<p>
  Tienes una semilla con todo lo necesario que sólo puede evolucionar y transformarse en algo mejor, desplegarse. Mi pasión es comprender lo que es y ser capaz de manifestarlo en el mundo coherentemente. Todo es un proceso vivo que va de lo intangible a lo tangible. Mi trabajo consiste en desobstaculizar lo que está sucediendo, dejar que "se te" ocurra y "se te" actualice correctamente.
</p>

<h1>Soy un tipo de profesional con forma de "T".</h1>

<p>
  No puedo definirme ni como generalista ni como especialista, soy polivalente, lo que se viene llamando una persona "T"(t-shaped); poseo un gran nivel de profundidad conceptual y práctica sobre un tema, el arte consciente, pero a la vez, alimento dichos conocimientos a través de múltiples y diferentes áreas de interés fruto de la experiencia adquirida en mi trabajo a lo largo de los años:
</p>


<ul class="carousel carousel--servicios"
    data-flickity='{
      "pageDots": false,
      "autoPlay": 3000
  }'>

    <li class="carousel-cell"> Branding profesional o personal </li>
    <li class="carousel-cell"> Sketching por ordenador y esbozo a mano</li>
    <li class="carousel-cell"> Meditación, consciencia y crecimiento personal </li>
    <li class="carousel-cell"> Ilustración con Affinity Designer/Photo, Photoshop </li>
    <li class="carousel-cell"> Prototipado (Axure RP8, Principle) </li>
    <li class="carousel-cell"> Diseño Editorial (InDesign) </li>
    <li class="carousel-cell"> Maquetación web HTML5 </li>
    <li class="carousel-cell"> Diseño de Interfaces (Sketch) </li>
    <li class="carousel-cell"> Animaciones CSS3, Flexbox model... </li>
    <li class="carousel-cell"> Preprocesamiento CSS3 con Sass </li>
    <li class="carousel-cell"> Generadores estáticos como Jekyll... </li>
    <li class="carousel-cell"> Creación de temas desde cero con Wordpress </li>
    <li class="carousel-cell"> Uso de plugins de WP: ACF, Contact Form7... </li>
    <li class="carousel-cell"> Control de versiones con Git y Github. </li>
    <li class="carousel-cell"> Gestión de proyectos con Trello </li>
    <li class="carousel-cell"> Javascript, ES6, React </li>
    <li class="carousel-cell"> Motores de plantillas ( Jade, Markdown, Liquid ) </li>
    <li class="carousel-cell"> Convenciones ( BEM, SMACCS,  camelCase ) </li>
    <li class="carousel-cell"> Entornos locales NPM, Gulp, Browsersync... </li>
    <li class="carousel-cell"> Atom / Sublime Text </li>
    <li class="carousel-cell"> Símbolos SVG </li>
    <li class="carousel-cell"> Storytelling</li>
    <li class="carousel-cell"> etc. </li>

  </ul>


{% include contact.html %}
