<div class="contact">

  <p>¿Pensando en sentir ya lo que te estoy diciendo?
    <br>
    <a href="mailto:{{ site.email }}">Escríbeme</a>
  </p>

  <form id="contactform" method="POST">
    <input type="text" name="name" placeholder="Your name">
    <input type="email" name="_replyto" placeholder="Your email">
    <input type="hidden" name="_subject" value="Website contact" />
    <textarea name="message" placeholder="Your message"></textarea>
    <input type="submit" value="Send">
    <input type="hidden" name="_next" value="//sergiofores.es/index.html" />
    <input type="text" name="_gotcha" style="display:none" />
  </form>
  <script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'sergiofores' + '@' + 'gmail' + '.' + 'com');
  </script>
</div>
