<h2 class="section__title">Conocimientos</h2>

<ul>
  <li> Prototipado con Axure RP8 </li>
  <li> Branding </li>
  <li> Ilustración con Affinity Designer/Photo, Photoshop </li>
  <li> Diseño Editorial con InDesign </li>
  <li> Maquetación web HTML5 </li>
  <li> Diseño de Interface con Sketch </li>
  <li> Diseño de interacción con Principle </li>
  <li> Animaciones CSS3, Flexbox model </li>
  <li> Preprocesamiento CSS3 con Sass </li>
  <li> Creación de temas con Wordpress </li>
  <li> Control de versiones con Git </li>
  <li> Gestión de proyectos con Trello </li>
  <li> Dibujo a mano y wireframing </li>
  <li> Javascript, ES6, React, Gulp (Nivel básico) </li>
  <li> Motores de plantillas ( Jade, Markdown, Liquid ) </li>
  <li> Convenciones ( BEM, SMACCS,  camelCase ) </li>
</ul>
