<dl>
  <dt>Conocimientos</dt>
  <dd> Prototipado rápido con Axure RP8 </dd>
  <dd> Branding </dd>
  <dd> Ilustración con Affinity Designer/Photo, Photoshop </dd>
  <dd> Diseño Editorial con InDesign </dd>
  <dd> Maquetación web HTML5 </dd>
  <dd> Diseño de Interfaces con Sketch </dd>
  <dd> Diseño de interacción con Principle </dd>
  <dd> Animaciones CSS3, Flexbox model...</dd>
  <dd> Preprocesamiento CSS3 con Sass </dd>
  <dd> Creación de temas desde cero con Wordpress </dd>
  <dd> Uso de plugins de WP: ACF, Contact Form7...</dd>
  <dd> Control de versiones con Git y Github.</dd>
  <dd> Gestión de proyectos con Trello </dd>
  <dd> Dibujo a mano, arte plástico...</dd>
  <dd> Javascript, ES6, React, Gulp (Nivel básico) </dd>
  <dd> Motores de plantillas ( Jade, Markdown, Liquid ) </dd>
  <dd> Convenciones ( BEM, SMACCS,  camelCase ) </dd>
  <dd>Entornos locales de generadores web estaticos con React, Firebase, Node, Gulp...</dd>
  <dd>Browsersync</dd>
  <dd>Terminal de Mac (uso básico)</dd>
  <dd>MAMP PRO</dd>
  <dd>Atom / Sublime Text</dd>
  <dd>Símbolos SVG</dd>
</dl>
