<div class="social">
  
  <ul>
    {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
    {% endif %}

    {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
    {% endif %}

    {% if site.youtube_username %}
      <li>
        {% include icon-twitter.html username=site.youtube_username %}
      </li>
    {% endif %}

    {% if site.codepen_username %}
      <li>
        {% include icon-twitter.html username=site.codepen_username %}
      </li>
    {% endif %}
  </ul>

</div>
