// animacion SVG
@keyframes efecto-stroke-dashoffset {
  100% {
  stroke-dashoffset: 0;
  }
}

@keyframes anim {
	0% {background-position: 0 0}
	100% {background-position: -120em 0}
}

// Animacion bolita
@keyframes tot {
  from {
    background-color: $brand-color;
	  transform: rotate(0deg) translateX(100px) rotate(-0deg);
    transform-origin: 0px;
	}
  to {
    background-color: red;
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
	}
}
