@keyframes tot {
  from {
    background-color: $brand-color;
	  transform: rotate(0deg) translateX(100px) rotate(-0deg);
    transform-origin: 0px;
	}
  to {
    background-color: red;
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
	}
}
