/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    // background-color: $color-cool;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    padding-top: $spacing-unit * 4;
    letter-spacing: 1px;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit * 1.5;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
  font-size: $small-font-size;
  padding-top: 5px;
  color: $color-grey;
}
.Figure-small {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.Figure-caption-h {
  text-align: center;
}


/**
 * Lists
 */
ul {
  // list-style: none;
}

ul, ol {
    margin-left: $spacing-unit * 2;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
    text-align: center;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: $text-color;
        // text-decoration: underline;
    }
}

// max width
p, dl, h5, h4, h3, h2, h1 {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

dl {
  padding: $spacing-unit;
  border: 1px solid $brand-color;
  // list-style: disc;
}
dt {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit / 2;
  font-weight: bold;
  &:first-child {
    margin-top: 0;
  }
}
dd {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  // padding-left: $spacing-unit / 2;
  line-height: 1.8;
}
ul {
  // max-width: 300px;
  // margin-right: auto;
  // margin-left: auto;
}

/**
 * Blockquotes
 */

blockquote {
    color: $color-grey;
    border-left: $spacing-unit solid $color-grey-light;
    padding-left: $spacing-unit;
    font-size: $base-font-size;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    // letter-spacing: -1px;
    // font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * External Links
 */
a[target="_blank"] {
  // padding-right: $spacing-unit;
  color: $color-grey;
  border-bottom: 1px solid $color-grey;
}




/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $color-grey-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Forms
 */
form {
  // display: inherit;
}
textarea,
input {
  border: none;
  font-size: $base-font-size;
  padding: 15px;
}

textarea {
  min-height: 100px;
  margin-top: $spacing-unit;
}

input {

}

input[type="submit"] {

  margin-top: $spacing-unit;
  padding: $spacing-unit / 2;

  &:hover {
    cursor: pointer;
    background-color: $text-color;
    color: $color-cool;
  }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 36px;
        height: 36px;
        vertical-align: middle;

        path {
            // fill: $color-grey;
        }
    }
}
