.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  min-height: 550px;

  &__split {
    flex: 1 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
   margin-top: $spacing-unit;

   line-height: 1.25;
  //  padding-top: $spacing-unit * 2;
   margin-bottom: $spacing-unit;
  }

  &__subtitle {
    flex: 0 100%;
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
  }

  &--quiensoy {

  }

  &--quehago {
    background-image: url("/images/bg-hago.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--quehago,
  &--contacto {
    color: $color-cool;
    background-color: $brand-color;
  }
  &--vision {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;

    &__image {
      height: 375px;
      background-color: $color-cool;
      background-image: url("/images/todh-grafico.svg");
      background-repeat: no-repeat;
      background-position: center;
      @media screen and (min-width: 376px ) {
        width: 550px;
        height: 550px;
      }
    }
  }
  &--contacto {

  }
}
