.brand {
  display: flex;
  flex: 1 50%;
  padding-left: $spacing-unit;

  svg {
    padding-right: $spacing-unit / 2;
    path {
      stroke: $text-color;
      stroke-width: 3;
    }
  }
  &__logo {
    background-color: red;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
  }
  .efecto--stroke-logo {
    animation-name: efecto-stroke-dashoffset;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
}
