.btn {
  &-cta {
    width: 150px;
    padding: $spacing-unit / 2;
    margin-bottom: $spacing-unit;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: $brand-color;
    background-color: $color-cool;
    border: $grueso solid $brand-color;
    letter-spacing: 1px;
  }
  &-cta:visited {
    background-color: $color-cool;
    color: $brand-color;
  }
  &-cta:hover {
    color: $color-white;
  }
}
