.Card {
  // display: flex;
  // justify-content: center;
  // background-color: $color-white;
  margin: 0;
  // margin-right: 10px;
  // padding: $spacing-unit;
  max-width: 100%;

    &__item {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      // border: 1px solid red;
      padding: $spacing-unit;
      // flex: 1 500px;
      // margin: $spacing-unit;
    }

      &-title {
        flex: 1 100%;
        font-weight: bold;
        margin-bottom: $spacing-unit / 2;
      }
      &-subtitle {
        color: $color-grey;
        font-size: $base-font-size;
        margin-bottom: $spacing-unit;
      }
      &-description {
        flex: 1 50%;
      }
      &-note {
        // padding-top: $spacing-unit;
        flex: 1 300px;
      }
}
