.Contact {
  // padding: ($spacing-unit * 2) $spacing-unit;
  // // border: $medio solid $brand-color;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: center;

  &__form {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 100%;
  }
  &__textarea {
    flex: 0 600px;
  }
  &__submit {
    // flex-basis: 100%;
    // border: $medio solid $brand-color;
    background-color: transparent;
  }
}
