.Cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  margin-top: $spacing-unit * 3;
  // color: $color-white;
  background-color: $brand-color;
  align-items: center;
  background-image: url('/images/icon-tot.svg');
  // background-repeat: repeat-x;
  background-position: center;
  // background-size: contain;


  &__title {
    line-height: 1.1;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
