/**
 * Site header
 */
.site-header {
  top: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  align-items: center;
  min-height: 75px;
  svg {
    path {
      fill: none;
      stroke: $brand-color;
      stroke-width: 2;
      stroke-dashoffset: 50;
      stroke-dasharray: 50;
    }
  }
}

.site-title {
  font-size: 42px;
  // font-weight: lighter;
  // text-transform: uppercase;
  line-height: 1.25;
  padding-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
    &,
    &:visited {
      color: $brand-color;
    }
}

.site-nav {

  // flex: 1 50%;
  margin-right: $spacing-unit;

  .menu-icon {
      display: none;
  }

  .trigger {
    a {
      margin: 0 10px;
    }
  }

  .page-link {
      color: $text-color;
      line-height: $base-line-height;

      &:not(:last-child) {
          margin-right: 20px;
      }
  }

  @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $color-grey-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $color-grey-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            cursor: pointer;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {

  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
  }
}

.footer-heading {}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}

/**
 * Page section
 */
section {
  // padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
  // background-color: #f3f3f3;
  background: linear-gradient(to bottom, #f3f3f3, white 15%);

}
.section__title {
  text-align: center;
  // padding-bottom: $spacing-unit * 2;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // margin-bottom: $spacing-unit;

    &__item {
      padding: $spacing-unit;
      flex: 0 300px;
      width: 300px;
      height: 300px;
      border: $medio solid $brand-color;
      margin: $spacing-unit;
      // display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
      &__title {
        color: $brand-color;
        line-height: 1.2;
        text-align: left;
        // margin-bottom: 0;
      }
      &__image {
        // max-width: 75%;
        // height: 340px;
        margin-bottom: 0;
        margin-top: $spacing-unit;
        // margin-left: $spacing-unit;

        img {}
        figcaption {
          // color: $color-white;
          max-width: 95%;
        }
      }
      &__description {
        margin: 0;
        padding: 0;
        // position: absolute;
        // right: $spacing-unit;
      }
}

.post-meta {
    font-size: $small-font-size;
    color: $color-grey;
}

.post-link {
    border-bottom-width: $medio;
    border-bottom-style: solid;

    &:hover {
      border-bottom-color: $brand-color;
      border-bottom-style: dashed;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    margin-bottom: $spacing-unit;
    text-align: left;
    line-height: 1;

}

.post-content {
    margin-bottom: $spacing-unit;
}
