/**
 * Site header
 */
.site-header {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 75px;
}

.site-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: $spacing-unit * 2;
    &,
    &:visited {
        color: $color-grey-dark;
    }
}

.site-nav {

  // flex: 1 50%;
  margin-right: $spacing-unit;

  .menu-icon {
      display: none;
  }

  .trigger {
    a {
      margin: 0 10px;
    }
  }

  .page-link {
      color: $text-color;
      line-height: $base-line-height;

      &:not(:last-child) {
          margin-right: 20px;
      }
  }

  @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $color-grey-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $color-grey-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            cursor: pointer;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {

  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
  }
}

.footer-heading {}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}

/**
 * Page section
 */
section {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
  background-color: #f3f3f3;
}
.section__title {
  text-align: center;
  // padding-bottom: $spacing-unit * 2;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $color-grey;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
