.social {

  ul {
    margin-right: 0;
  }
  li {
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
    @media screen and (max-width: 375px ) {
      font-size: 12px;
      margin-left: $spacing-unit / 4;
      margin-right: $spacing-unit / 4;
    }
  }
}
