.social {
  // flex-basis: 300px;
  // display: flex;
  // font-size: 12px;
  // font-weight: 400;
  // text-transform: uppercase;
  // letter-spacing: 1px;

  ul {
    margin-right: 0;
  }
  li {
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
    @media screen and (max-width: 375px ) {
      font-size: 12px;
      margin-left: $spacing-unit / 4;
      margin-right: $spacing-unit / 4;
    }
  }
}
