.Tot {
  // position: relative;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-unit;
  // background-color: $color-grey-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $text-color;
}
  .Tot__pointer {
    text-align: center;
    width: 25px;
    height: 25px;
    animation-name: tot;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    // animation-direction: normal;
    animation-duration: 2s;
    background-color: $text-color;
    border-radius: 50%;
  }
