@mixin size($size) {
	width: 20em;
	height: 20em;
	animation: anim 1s steps(6) infinite;
	background-size: 120em 100%;
  font-size: #{$size}px;
}

.Dsph__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: $spacing-unit;
}

.Dsph__item {
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		display: inline-block;
    // background-color: darken($color-cool, 1);
	}
}

.Dsph__decir {
	background: url("/images/anim_decir.svg") 0 0 no-repeat;
  @include size(10);
}

.Dsph__sentir {
	background: url("/images/anim_sentir.svg") 0 0 no-repeat;
  @include size(10);
}

.Dsph__pensar {
  background: url("/images/anim_pensar.svg") 0 0 no-repeat;
	@include size(10);
}

.Dsph__hacer {
	background: url("/images/anim_hacer.svg") 0 0 no-repeat;
  @include size(10);
}



.Tot {
  // position: relative;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-unit;
  // background-color: $color-grey-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $text-color;
}
  .Tot__pointer {
    text-align: center;
    width: 25px;
    height: 25px;
    animation-name: tot;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    // animation-direction: normal;
    animation-duration: 2s;
    background-color: $text-color;
    border-radius: 50%;
  }

// Espiral
.Tcia-logo {
  text-align: center;
  margin-bottom: $spacing-unit;

  svg {
    path {
      fill: none;
      stroke: $brand-color;
      stroke-width: 3;
      stroke-dashoffset: 1100;
      stroke-dasharray: 1100;
    }
  }
}

.efecto--stroke-dashoffset {
  animation-name: efecto-stroke-dashoffset;
  animation-delay: 2s;
  animation-duration: 9s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
