
@charset "utf-8";


// Our variables
$base-font-family: 'Open Sans', sans-serif;
$alt-font-family: 'Playfair Display', serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     25px;

$background-color: rgb(183,131,109);
$text-color:       rgb(74,56,81);
$color-cool:      rgb(129,232,179);
$brand-color:      rgb(74,56,81);
// $color-cool:      rgb(224,108,117);
$color-white:      rgb(255,255,255);

$color-grey:       #828282;
$color-grey-light: lighten($color-grey, 40%);
$color-grey-dark:  darken($color-grey, 25%);

// Width of the content area
$content-width:    800px;

$mobil:          425px;
$on-laptop:        800px;

// Grosores
$fino: 1px;
$medio: 2px;
$grueso: 3px;
$extra: 10px;

@mixin media-query( $device ) {
  @media screen and ( max-width: $device ) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "navigation",
        "buttons",
        "animation",
        "syntax-highlighting",
        "brand",
        "cover",
        "list",
        "card",
        "tot",
        "contacto",
        "social",
        "block"
;
